.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 65px;
  display: flex;
  flex-direction: row;

  color: white;
  
}

.App-header div{
  width:50%;
  padding-left:5%;

}

.App-header h6{
  max-width: fit-content;

}